body {
    background-color:black;
    font-size:16px;
    margin:0;
    background-image:url(images/background.jpg); 
	background-repeat:repeat-x;
	background-attachment:fixed;
	min-height:100%;
	background-position:center center;
}

/* text styles */

h1{
	font-size:4em;
	font-weight:300;
	line-height:1.5em;
	text-align: center;
	font-family:'Roboto Condensed',sans-serif;

}

h2{
	font-size:2em;
	font-family:'Roboto Condensed',sans-serif;
}

h3{
	font-size:1.8em;
	font-family:'Roboto Condensed',sans-serif;	
}

h4{
	font-size:1.5em;
	line-height:1em;
	font-family:'Roboto Condensed',sans-serif;
}


h5{
	font-size:1em;
	text-align: center;
	font-family:'Roboto Condensed',sans-serif;

}

p{
	font-size:1.3em;
	line-height:1.5em;
	font-family: 'Crimson Text', serif;
	letter-spacing:0.015em;
}


a{
	text-decoration:none;
	color:#4e2188;
	font-size:1.2em;
	font-weight:500;
	font-family:'Roboto Condensed',sans-serif;

}

a:hover{
	text-decoration:none;
	color:#8e2188;
}

/* title styles */

.title{
	margin-top:10em;
	height:20em;
	width:40em;
	margin-right:auto;
	margin-left:auto;
	background-color: white;
	padding:10.5em 0em 6em 0em;
	-webkit-box-shadow:0px 12px 51px -10px rgba(0,0,0,0.6);
	-moz-box-shadow:0px 12px 51px -10px rgba(0,0,0,0.6);
	box-shadow:0px 12px 51px -10px rgba(0,0,0,0.6);
}

.title h1{
	margin:0;
	text-align:center;
	color:#000;
}

.blink {
  animation:blink 3s 0s infinite;
  -webkit-animation:blink 3s ease-out 0s infinite;
}

@keyframes blink{
  50% {
    opacity:0.4;

  }
}
@-webkit-keyframesblink {
  50% {
    opacity:0.5;
  }
}

.title h2{
	text-align:center;
	color:#000;
	margin-top:0;
	padding:0;
}

.title p{
	text-align:center;
	color:#000;
	margin-top:0;
	padding-top:2em;
}

.LanguageLink{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.LanguageLink a{
	padding:0.5em 1em;
	margin-top: 6.5em;
}


/* Genesis styles */
.genesis div{
	background-color: white;
	margin-top:0;
	margin-right: auto;
	margin-left: auto;
	padding:2em 4em 6em 4em;
	max-width: 900px;
}

.genesis div h3{
	margin-top:2.2em;
	margin-bottom: 0.3em;
}

.genesis div p{
	margin-top: 0;
}


/* About styles */
.about div{
	background-color: white;
	margin-top:5em;	
	margin-right: auto;
	margin-left: auto;
	padding:2em 4em 3.5em 4em;
	max-width: 900px;
}

.about h4{
	margin-bottom: 0;
}

.about p{
	font-family:'Roboto Condensed',sans-serif;
	font-size: 1.05em;
	font-weight:300;

}

/* contents styles */
.contents{
	margin-top:20em;
	margin-bottom: 0;
	padding-bottom: 2em;
	height:auto;
	width:auto;
-webkit-box-shadow: 0px -45px 260px 83px rgba(46,33,136,1);
-moz-box-shadow: 0px -45px 260px 83px rgba(46,33,136,1);
box-shadow: 0px -45px 260px 83px rgba(46,33,136,1);
	background-image: linear-gradient(0deg, #000, #2e2188);
}

/* footer */
footer p{
	color:#fff;
	font-family:'Roboto Condensed',sans-serif;
	font-size: 0.8em;
	text-align: center;
	margin-top: 6em;
	margin-bottom: 0;
	padding-bottom: 0;
}